.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #B5D99C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.card {
  width: fit-content;
  background-color: #F5F7DC;
  padding: 2em;
  border-radius: 1em;
}

input, button {
  background-color: #FFFF82;
  color: #333333;
  padding: 1em;
  border-radius: 0.5em;
  border-color: #B5D99C;
  font-size: 24px;
}

button {
  margin-top: 1em;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
